<div layout="column" ng-cloak class="md-padding">
  <p>
    <code>md-colors</code> directive provides an easy way to use <a class="md-accent" href="https://www.google.com/design/spec/style/color.html">Material Design Colors</a>
    and the themes defined using <code>$mdThemingProvider</code><br/>
    This feature is by no means replacing the <code>$mdTheming</code> service, it's for different purposes, such as
    creating a custom directive that follows the theme.
  </p>
  <user-card name="User name"></user-card>
  <user-card name="User name" theme="myTheme"></user-card>
</div>
